@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/AvenirNextLTPro-Bold.otf');
} 

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


/* body{
    font-family: 'Inter';
    font-size: 16px;
    line-height: 28px;
    color: #1A1A1A;
    
} */

/* .font-inter{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
} */
.section-options {
    background: #FFFFFF;
    height: 100vh;
    max-height: 862px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.contact-container{
    max-width: 1140px;
    width: 100%;
    margin: auto;
    grid-template-columns: auto auto;
    gap: 32px;
    margin-top: 138px;
}

.d-grid{
    display: grid; 
}

.form-container{
    height: 974px;
}

.contact-form{
    justify-content: start;
    gap: 32px;
    margin-top: 35px;
    
}

textarea{
    grid-column: 1 / span 2;
    grid-row: 5;
    resize: none;
    height: 338px;
}

.item7{
    grid-column: 1 / span 2;
    grid-row: 4;
    width: 100%;
    padding-left: 19px;
    width: 616px;
}

button{
    visibility: hidden;
    /* grid-column: 1 / span 2;
    grid-row: 6; */
}

#submit{
    visibility: visible !important;
    width: 221.22px;
    height: 57px;
    background-color: #1A1A1A !important;
    color: #FFFFFF;

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border-radius: 10px;
    border: 0;
}

.gmnoprint{
    visibility: hidden;
}

input{
    width: 280px;
    height: 64px;
}

select{
    width: 300px;
    height: 64px;
}

h3{
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #1A1A1A;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

input, textarea {
    padding-left: 19px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
    border-radius: 8px;
    border: none;
}


input::placeholder, textarea::placeholder{
    font-family: 'Inter';
    font-size: 16px;
    line-height: 28px;
    color: #1A1A1A;
    opacity: 0.5;
}

.contact-map{
    margin-top: 19px;
}

#map{
    width: 470px;
    height: 936px;
    
}

p.txt-p{
    margin-top: 13px;
}

/* custom select */

/*the container must be positioned relative:*/
select{
    display: none;
}
.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .custom-select{
      width: 262px;
      font-family: 'Inter';
    font-size: 16px;
    line-height: 28px;
    color: #1A1A1A;
    opacity: 0.5;
  }

  .select-items{
      width: 300px;
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color:  rgba(84, 90, 109, 0.6) transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent rgba(84, 90, 109, 0.6) transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-selected {
      background: #FFFFFF;
      box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
      border-radius: 8px;
    color: #414042;
    padding: 18px 19px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  .select-items div{
    background: #FFFFFF;
    /* padding: 18px 19px; */
    cursor: pointer;
    user-select: none;
    height: 28px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */


    color: #424242;
  }
  
  .select-items{
      background: #FFFFFF;
      box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
      border-radius: 8px;
    color: #414042;
    /* padding: 18px 19px; */
    border: 1px solid transparent;
    /* border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; */
    cursor: pointer;
    user-select: none;
  }
  
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #FFFFFF;
    /* top: 100%;
    left: 0;
    right: 0; */
    z-index: 99;
    padding: 19px;
    width: 262px;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: #F2F2F2;
    width: 248px;
    padding-left: 13px;
  }
  
  /* map info */
#content{
    padding-right: 51px;
}
p.firstHeading{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */

    margin-top: 0px;
    color: #1A1A1A;
}

#bodyContent p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */


    color: #1A1A1A;
}

div.gm-style .gm-style-iw-c{
    padding: 19px 38px 19px 19px;
}

div.gm-style-iw-tc{
    display: none;
}

div.info{
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 3px;
}

.info svg{
    margin-top: -1px;
    margin-right: 8px;
}

.info span{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
/* or 183% */


color: #858585;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


@media (max-width:500px) {
    .contact-container, .contact-form{
        grid-template-columns: auto;
    }

    #map{
        width: 357px;
        height: 573px;
    }
}
